rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write only their own documents
    match /users/{userId} {
      allow create, update, read: if request.auth != null && request.auth.uid == userId;
    }
    match /firestore_debug/{docId} {
      allow read, write: if true;
    }
  }
}
